@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Monsterrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-border: #4d5258;
  --color-font-primary: #e5e7e6;
  --color-font-secondary: #b3bfb8;
  --color-font-tertiary: #7d867f;
  --color-primary: #955eb4;
  --color-primary-darker: #4b2d5c;
  --color-background: #282429;
  --color-background-lighter: rgb(51, 47, 53);

  --color-tag-background: #5c955e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Raleway;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

small {
  color: #666;
}

.btn {
    padding: 0.75rem 1rem;

    appearance: none;
    border: none;
    border-radius: 4px;
    background: linear-gradient(to bottom, var(--color-primary), var(--color-primary-darker));
    cursor: pointer;
    background-size: 1px 100px;
    transition: 0.2s ease;

    font-size: 1rem;
    font-weight: 400;
    color: var(--color-font-primary)
}

.btn:hover {
    text-decoration: none;
    background-position: 100px;
}

/* .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
} */

/* --- header --- */
.main-header  {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 9999;

  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-border);
}

.headerContainer {
  width: 60%;
  padding: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 1rem;

  margin: 0;
  list-style-type: none;
}

li {
  padding: .25rem;
  font-size: 1.2rem;
}

/*mobile menu*/
.menu {
  display: none;
  font-size: 2rem;
}

.mobile {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  padding: 0;
  gap: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-background-lighter);
}

.mobile li {
  width: 100%;
  padding: 1rem;
  text-align: center; 
} 

@media screen and (max-width: 1320px) {
  .headerContainer {
      width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .menu {
      display: block;
  }
  .desktop {
      display: none;
  }
}


/* ---- single post - articulo ---*/
.article-page {
  max-width: 70ch;
  margin: auto;
  padding-top: 1rem;
}

.article-page .container {
  padding: 1em 1.5em;
  background-color: var(--card_background);
  color: var(--text_2);
  border-radius: 4px;
}

.article-header {
  text-align: right;
}

.label-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.label-list-item {
  border-radius: 2px;
  font-size: 0.6em;
  background-color: var(--color-tag-background);
  color: var(--color-font-primary);
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reading-time {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
  font-size: 0.8em;
  color: var(--color-font-tertiary);
  text-align: right;
  margin: 1em 0;
}

.article-content p{
  font-size: 0.9rem;
}


.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.postCard {
  border: 1px solid #ddd;
  padding: 15px;
  text-decoration: none;
  color: inherit;
  border-radius: 8px;
  transition: background 0.3s;
}

.postCard:hover {
  background: #f9f9f9;
}

/* --- comments --- */
.commentsWrapper {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid var(--color-border);
}

.commentCreatorWrapper {
  border-bottom: 1px solid var(--color-border);
  padding: 2rem;  
  margin: 0 auto;
}

.commentCreatorWrapper h3 {
  margin: 0;
  font-size: 2rem;
}

.commentCreatorWrapper form {
  display: flex;
  flex-direction: column;
}
.commentCreatorWrapper form label {
  margin-top: 0.5rem;
}

.commentCreatorWrapper form textarea,
.commentCreatorWrapper form input[type="email"] {
  flex: 1;
  width: 100%;
  overflow: scroll-y;
  resize: none;
  padding: 1rem;
  margin-bottom: 0.5rem;

  background-color: inherit;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  transition: 0.2s ease-in;

  color: var(--color-font-primary);
  font-size: 1rem;
}

.commentCreatorWrapper form textarea:focus,
.commentCreatorWrapper form input[type="email"]:focus {
  outline: none;
  box-shadow: var(--color-primary) 0px 0px 0px 1px;
  border-color: var(--color-primary);
}

.commentCreatorWrapper form input[type="submit"] {
  padding: 0.5rem 1rem;
  align-self: flex-end;
}

.commentsContainer {
  padding: 2rem;
  width: 50%;
  margin: 0 auto;
}
.commentsContainer h3 {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.comments > p {
  font-size: 1.2rem;
  margin: 0;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  width: 100%;

  border: 1px solid var(--color-border);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.commentInfo {
  display: flex;
  align-items: center;
}

.commentInfo span {
  width: fit-content;
  font-size: .6rem;
  color: var(--color-primary);
  margin-right: 0.5rem;
}

.commentContent p {
  margin: 0;
}

/* @media screen and (max-width: 1200px) {
  .commentCreator, .commentsContainer {
      width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .commentCreator, .commentsContainer {
      width: 100%;
  }
} */



/* --- footer --- */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  border-top: 1px solid var(--color-border);
}

footer span {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--color-border);
}

/* ---- components ---- */
/* back button */
.back-btn {
  all: unset;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8em;
  color: var(--color-font-secondary);
  cursor: pointer;
  margin-top: 1em;
}

.back-btn:hover {
  background: none;
  color: var(--cta);
}

.back-btn:focus {
  outline: none;
}



/* --- loader --- */
.loader {
  animation: spin 1s infinite linear;
  font-size: 5rem;
  color: var(--color-primary);
}

.loaderContainer p {
  text-align: center;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}